/*
 * This is the main css file that ships with the airspace theme.
 * In airspace, it is called style.css
 * However, style.css now holds additional styles for this jekyll port. (Not written by ThemeFisher)
 * The original style.css is now called airspace.css
 * 
 */
 @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&family=Montserrat+Alternates:ital,wght@0,400;0,600;0,700;1,400&display=swap');
/*--
	Common Css
--*/
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat Alternates', sans-serif;
  -webkit-font-smoothing: antialiased;
}
h1 {
  
}
h2 {
  font-family: 'Baloo 2', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 35px;
  margin: 0;
}
h3 {
  font-size: 28px;
  font-weight: 300;
}
/* p {
  font-size: 15px;
} */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus, 
a:visited {  
  outline: none;
}
a:hover{
  text-decoration: none !important;
}
mark {
  padding: 1px;
}
.section-title {
  margin-bottom: 70px;
}

.section-title p {
  font-family: 'Montserrat Alternative', sans-serif;
  font-style: italic;
  color: #666;
}
/*--
	Header Start
--*/
header {
  background: #5e408f;
  padding: 20px 0;
}
header .navbar {
  margin-bottom: 0px;
  border: 0px;
}
header .navbar-brand {
  padding-top: 5px;
  margin-bottom: 20px;
}
.navbar-brand  img{
  max-width: 150px;
}
header .navbar-default {
  background: none;
  border: 0px;
}
header .navbar-default .navbar-nav {
  padding-top: 10px;
}
header .navbar-default .navbar-nav li a {
  color: #fff;
  padding: 10px 26px;
  font-size: 20px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 700;
}
header .navbar-default .navbar-nav li a:hover {
  color:#ff8f33;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color:#5e408f;
  background:  url(../img/logo_slogan.png) no-repeat center center; 
  background-size: 1000px;
  background-color: #fff;
}

.intro-message {
  position: relative;
  /* padding-top: 15%;
  padding-bottom: 20%; */
}

.slogan{ 
  margin-top: 60%;
}

/*--
	wrapper Start
--*/
#intro {
  padding: 50px 0;
}
#intro .block p {  
  padding-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
#intro .block img {
  padding-left: 40px;  
}

#intro .section-title {
  margin-bottom: 0px;
}

.intro-a a, .intro-b a, .intro-d a{
  color: #fff;
  text-decoration: underline;
}

.intro-a {
  background-color:#ff8f33;  
}

.intro-a mark {
  color: #fff;
  background-color: #5e408f;
}

.intro-b mark, .intro-d mark  {
  color: #fff;
  background-color: #ff8f33;
}

.intro-c mark {
  color: #fff;
  background-color: #5e408f;
}

.intro-b {
  background-color: #e55430;
}

.intro-c{
  background-color: #fffcbd;
}

.intro-d{
  background-color: #966be8;
}

.intro-a a, .intro-b a, .intro-c a {
  font-weight: 700;
}

.intro-a .section-title, .intro-c .section-title {
  color: #fff;
}

.intro-a .block p, .intro-d .block p {
  color: #fff;
}

.intro-c .block p {
  color: #5e408f;
}

.intro-b .block p, .intro-b .block h2 {
  color: #fff;
}

.intro-a img{
  width: 100%;
}

.intro-b img {
  width: 90%;
}

.intro-c img {
  width: 100%;
}

.intro-c a:visited, .intro-d a:visited{
  text-decoration-color: none;
}

.intro-center {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro-text {
  text-align: left;
}

.intro-c .intro-text{
  width: 80%;
}

/*--
	Subscription Button
--*/

.myButton-catarse, .myButton-censo, .myButton-header {  
	border-radius:30px;
	display:inline-block;
	cursor:pointer;		
	font-size:16px;
  font-weight:bold;
  margin-top: 20px;
	padding:13px 23px;
	text-decoration:none;
}

.myButton-catarse {
	background-color:#ffffff;
  color:#5e408f !important;
  text-decoration: none !important;
}
.myButton-catarse:hover {    
    background-color: #ff8f33;
    color: #fff !important;
    text-decoration: none;
}
.myButton-censo {
	background-color:#5e408f;
	color:#fff;
}
.myButton-censo:hover {    
    background-color:#fff;
    color: #5e408f;
}

.myButton:active {
	position:relative;
	top:1px;
}

.myButton-header {
	background-color:#ff8f33;
	color:#fff;
}

.myButton-header:hover {    
    background-color:#5e408f;
    color: #fff;
    text-decoration: none;
}
.myButton-header:active {
	position:relative;
	top:1px;
}

/*--
	footer Start
--*/
footer {
  padding: 40px 0;
  background-color: #5e408f;
}

.footer-titulo{
  color: #fff;
  font-weight: 700;
  padding-bottom: 5px;
}

.footer-logos{
  display: flex;
  align-items: center;    
  text-align: center;
}

.footer-logos-apoio{
  display: flex;
  align-items: left;
}

.img-apoio {
  width: 20%;
  padding-top: 5px;
}

.license {
  color: #fff;
  padding-top: 30px;
  padding-left: 20px;
  display: flex;
}

.license p {
  font-size: 10pt;
  line-height: 17px;
  padding-left: 5px;
}

.license a{    
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

.ccby {
  width: 30px;
  height: 30px;  
}

/*--
	---------- APOIO -----------
--*/
.apoio-div {
  margin-top: 50px;
}

.apoio-titulo {
  font-family: "Baloo 2", sans-serif; 
  font-size: 5rem;
  color: #5e408f;
}

.apoio-texto {
  color: #966be8;
}

.myButton-catarse-apoio {  
	border-radius:30px;
	display:inline-block;
	cursor:pointer;		
	font-size:16px;
  font-weight:bold;
  margin-top: 20px;
	padding:13px 23px;
  text-decoration:none;
  background-color:#ff8f33 ;
  color:#fff !important;
  text-decoration: none !important;
}

.myButton-catarse-apoio:hover {    
    background-color:#5e408f;
    color: #fff !important;
    text-decoration: none;
}

#apoio-lista{
  padding-top: 30px;
  padding-bottom: 30px;
  column-count: 3;
}

#apoio-lista p {
  font-size: 18px;
  padding: 3px;
}

/*--
	---------- BLOG -----------
--*/
.blog-div {
  margin-top: 50px;
}

.blog-titulo {
  font-family: "Baloo 2", sans-serif; 
  font-size: 5rem;
  color: #5e408f;
}

.blog-texto {
  color: #966be8;
  padding-bottom: 10px;
}

.linha {
  border: 2px solid #ff8f33;
  border-radius: 5px;
}

.pontilhado {
  border-top: 5px dotted #ff8f33;
}


.center-text {
  text-align: center;
}

.post-area {
 padding: 40px 0;
 width: 100%;
 min-height: 150px;
 background-color: white;
 border-bottom: 1px dotted #ccc;
 text-align: left;
}

.post-area a:link, .post-area a:visited {
 font-size: 30px;
 color: #333;
}

.post-area a:hover {
 color: #0D0017;
}

.myButton-voltar {  
	border-radius:30px;
	display:inline-block;
	cursor:pointer;		
	font-size:16px;
  font-weight:bold;
  margin-top: 20px;
	padding:13px 23px;
  text-decoration:none;
  background-color:#ff8f33 ;
  color:#fff !important;
  text-decoration: none !important;
}

.myButton-voltar:hover {    
    background-color:#5e408f;
    color: #fff !important;
    text-decoration: none;
}



/*--
	---------- RESPONSIVE -----------
--*/
@media (max-width: 1267px){
  .intro-header {
    background-size: 800px;
  }
  .slogan {
    margin-top: 50%;
  }
}

@media (min-width: 768px) and (max-width: 811px) {
  .navbar-brand  img{
    max-width: 110px;
  }
  header .navbar-brand {
    padding-top: 10px;
    margin-bottom: 0px;
  }
}


@media (min-width: 577px) and (max-width: 991px) {
  .container {
    width: 90%;    
  }
  .intro-header {
    background-size: 610px;
  }
  #intro .block img {
    padding-left: 0;
  }

  #intro .block p {
    font-size: 14px;  
    padding-top: 5px;
    line-height: 20px;
  }

  #intro .block h2 {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
  }

  .intro-c .intro-text {
    width: 60%;
  }

  .intro-d .intro-text {
    margin-top: 20px;
  }

  iframe {
    height: 426px;
  }

  .myButton, .myButton-header, .myButton-catarse, .myButton-censo{
    font-size: 14px;
    margin-top: 10px;
    padding: 10px 20px;
  }

  footer {
    padding: 20px 0;
  }

  .footer-titulo {
    padding: 10px 0 0 0;
  }

  .license p {
    font-size: 11px;
    line-height: 15px;
  }
  .ccby {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 767px) {
  .intro-c .intro-text {
    width: 100%;
  }  
}

@media (max-width: 767px) {
  #intro {
    padding-top: 20px;
  }
  .intro-center{
    display: inline;
    text-align: center;
  }
  .intro-a img, .intro-b img, .intro-c img {
    width: 60%;
    padding-top: 15px;
  }
  #intro .block p {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .container{
    text-align: center;         
  }
  .apoio-container, .blog-container{
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .apoio-titulo, .blog-titulo{
    font-size: 4rem;
  }
  .apoio-texto, .blog-texto{
    font-size: 20px;
  }
  .post-area {
    padding: 20px 0;
  }
  .post-area a:link, .post-area a:visited{
    font-size: 20px;
  }
  #apoio-lista{
    column-count: 1;
    text-align: center;
  }
  header {
    padding: 0;
  }
  .navbar-brand {
    margin-top: 12px;
  }
  .intro-header {
    padding: 25px 0;
    background-size: 380px;
  }

  .myButton, .myButton-header, .myButton-catarse, .myButton-censo, .myButton-voltar{
    font-size: 12px;
    padding: 4px 10px;
  }

  .intro-message {
    margin-bottom: 10rem;
  }

  .intro-message p {
    margin-bottom: 0;
  }

  #intro {
    padding: 10px 0;
  }  
  
  .intro-center {
    display: inline;
  }

  #intro .block p {
    font-size: 14px;  
    padding-top: 5px;
    line-height: 20px;
  }
  #intro .block h2 {
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0;
  }

  #intro .block img {
    padding-left: 0;
  }

  .intro-a img, .intro-c img {
    width: 60%;
    padding-top: 15px;
  }

  .intro-b img {
    width: 60%;
    padding-top: 10px;
  }

  iframe {
    height: 426px;
  }

  footer {
    padding: 15px 0;     
  }

  footer .container {
    text-align: left;
  }

  footer .container .col-sm-6 {    
    padding-left: 30px;
  }

  .footer-logos-responsivo {       
      width: 95%;          
  }

  .footer-logos-responsivo div {
      padding: 10px;
  }

  .footer-logos-responsivo img {
      padding: 15px 0;
  }

  .footer-titulo {
      font-size: 10pt;  
      padding-bottom: 0;      
  }

  .license{
      padding-top: 25px;
      padding-left: 15px;
      margin: 0 16px;
  }

  .license p {
    font-size: 10px;
    line-height: 15px;
  }

  .ccby {
    width: 17px;
    height: 17px;
  }

}

