<!-- 
      <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>DADOS MAIS ABERTOS EM UM SÓ LUGAR</h2>
              <br/>
                <p>Fiscalizar as ações dos governos de cada cidade do Brasil pode parecer uma tarefa difícil, mas está longe de ser impossível.</p>
                <p>O <strong>Querido Diário</strong> é um projeto de código aberto da
                  <strong>Open Knowledge Brasil</strong> que vai usar a tecnologia
                  para libertar e centralizar as informações
                  publicadas nos diários oficiais dos municípios, hoje
                  presas em PDFs obscuros de acesso complicado.</p>

                <br/>
              </div>
        </div>
    </section> -->
