<!-- footer Start -->
<footer>
    <div class="container">
        <div class="row" >
            <div class="col-sm-6" >
                <h5 class="footer-titulo">REALIZAÇÃO</h5> 
                <div class="footer-logos footer-logos-responsivo">
                    <a href="https://www.ok.org.br/" target="_blank">
                        <img src="{{ site.baseurl }}/img/logo-okbr-branca-alt.png" alt="" width=90%>
                    </a>
                    <a href="https://www.serenata.ai" target="_blank">
                        <img src="{{ site.baseurl }}/img/logo-serenata-branca.png" alt="" width=70%>
                    </a>
                    <a href="https://embaixadoras.ok.org.br/" target="_blank">
                        <img src="{{ site.baseurl }}/img/logo-embaixadoras.png" alt="" width=90%>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <h5 class="footer-titulo footer-apoio" >APOIO</h5> 
                <a href="https://idatosabiertos.org/" target="_blank">
                    <img src="{{ site.baseurl }}/img/ilda-logo-branca.png" alt="" class="img-apoio">
                </a>
                <!-- <a href="https://www.iadb.org/pt" target="_blank">
                    <img src="img/logo-bid-branca.png" alt="" width=80%>
                </a>         -->
            </div>
            <div class="license col-sm-12" style="display: flex;">         
                <img src="{{ site.baseurl }}/img/cc.png" alt="" class="ccby"> 
                <img src="{{ site.baseurl }}/img/by.png" alt="" class="ccby"> 
                <p>Todo o conteúdo do Querido Diário está disponível sob a licença <a class="link" href="https://creativecommons.org/licenses/by/4.0/deed.pt_BR" target="_blank">Creative Commons Atribuição 4.0</a> Internacional, o que significa que pode ser compartilhado e reutilizado para trabalhos derivados, desde que citada a fonte. O código-fonte da plataforma também é aberto e está disponível no <a href="https://github.com/okfn-brasil/querido-diario-site">Github</a>.</p>
            </div>
        </div>
    </div>
</footer>