<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul> -->

                <div class="footer-titulo">
                    REALIZAÇÃO
                </div>
                <div class="footer-logos footer-logos-responsivo">
                    <div class="col-6 col-md-4">
                        <a href="https://www.ok.org.br/" target="_blank">
                            <img src="../img/logo-okbr-branca-alt.png" alt="" width=100%>
                        </a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="https://www.serenata.ai" target="_blank">
                            <img src="../img/logo-serenata-branca.png" alt="" width=100%>
                        </a>
                    </div>                
                    <div class="col-6 col-md-4">
                        <a href="https://embaixadoras.ok.org.br/" target="_blank">
                            <img src="../img/logo-embaixadoras.png" alt="" width=100%>
                        </a>
                    </div>
                </div>           
                <div class="footer-titulo" style="padding-top: 10px;">
                    APOIO
                </div>
                <div class="footer-logos footer-logos-responsivo row">
                    <div class="col-6 col-md-4">
                        <a href="https://www.iadb.org/pt" target="_blank">
                            <img src="../img/logo-bid-branca.png" alt="" width=100%>
                        </a>
                    </div>
                    <div class="col-6 col-md-4">
                        <a href="https://idatosabiertos.org/" target="_blank">
                            <img src="../img/ilda-logo-branca.png" alt="" width=100%>
                        </a>
                    </div>   
                </div>            





                <!-- <p class="text-muted small">{{ site.copyright }}</p> -->
            </div>
            <div class="license col-md-4">
                Todo o conteúdo do Querido Diário está disponível sob a licença Creative Commons Atribuição 4.0 Internacional, o que significa que pode ser compartilhado e reutilizado para trabalhos derivados, desde que citada a fonte. O código-fonte da plataforma também é aberto e está disponível no <a href="https://github.com/okfn-brasil/querido-diario-site">Github</a>.
            </div>
        </div>
    </div>
</footer>
